---

---

<div id="about" class="flex min-h-screen justify-center">
	<div class="mx-8 my-auto flex gap-20">
		<img src="/me.webp" alt="That's me !" class="max-h-96 w-auto rounded-3xl shadow-2xl shadow-black" />
		<div class="flex max-w-2xl flex-col justify-center">
			<h1 class="pb-4 text-5xl font-extrabold">Hello, I'm Hugo</h1>
			<h2 class="pb-4 text-2xl font-bold">FullStack Software Engineer</h2>
			<p>
				I'm currently based in South of France <em>- Mandelieu la Napoule to be precise -</em> and work in
				<strong>Sophia Antipolis</strong> at <strong>Sopra Steria</strong> on a variety of challenging and
				exciting projects.
				<br />
				<br />
				 With a strong focus on both front-end and back-end development, I strive to deliver high-quality
				software solutions.
				<br />
				 My motto is <strong>simplicity</strong> and KISS <em>(Keep It Simple, Stupid)</em> reflects perfectly
				my way of thinking.
				<br />
				<br />
				 When I'm not coding, I enjoy playing (video) games with friends, practising multiple sports, reading
				books, and watching TV Series and/or Movies.
			</p>
		</div>
	</div>
</div>
