---

---

<div id="about" class="min-h-screen flex justify-center">
	<div class="flex my-auto gap-20">
		<img src="/public/me.jpeg" alt="That's me !" class="rounded-3xl max-h-96 w-auto shadow-black shadow-2xl" />
		<div>
			<h1 class="text-5xl font-bold pb-4">Hugo - FullStack Engineer</h1>
			<p>Something about me</p>
		</div>
	</div>
</div>
