---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import StackSection from "../components/sections/StackSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import StillInDevBanner from "../components/StillInDevBanner.astro";
---

<BaseLayout>
	<div class="flex flex-row">
		<Navbar />
		<StillInDevBanner />
		<main class="pl-16 w-full bg-gray-900 text-red-400">
			<AboutSection />
			<ProjectsSection />
			<StackSection />
			<ContactSection />
		</main>
	</div>
</BaseLayout>
