---
import Navbar from "../components/Navbar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectsSection from "../components/sections/ProjectsSection.astro";
import StackSection from "../components/sections/StackSection.astro";
import ContactSection from "../components/sections/ContactSection.astro";
import AboutSection from "../components/sections/AboutSection.astro";
import StillInDevBanner from "../components/StillInDevBanner.astro";
---

<BaseLayout>
	<div class="flex flex-row">
		<Navbar />
		<StillInDevBanner />
		<main class="w-full bg-gray-900 pl-16 text-red-400">
			<AboutSection />
			<ProjectsSection />
			<StackSection />
			<ContactSection />
			<div class="text-center">
				Built in a weekend to see what <a href="https://astro.build/" class="underline">Astro</a>, <a
					href="https://tailwindcss.com/"
					class="underline">Tailwind</a
				> and <a href="https://pages.github.com/" class="underline">GitHub Pages</a> could do :)
			</div>
		</main>
	</div>
</BaseLayout>
