---

---

<header class="w-screen py-4 pr-8 bg-slate-900 text-white">
	<nav>
		<ul class="flex justify-end gap-4">
			<li class="bg-slate-300 text-slate-900 font-bold rounded-full px-2">
				<a href="#about">About</a>
			</li>
			<li class="bg-slate-700 rounded-full px-2">
				<a href="#stack">Stack</a>
			</li>
			<li class="bg-slate-700 rounded-full px-2">
				<a href="#projects">Projects</a>
			</li>
			<li class="bg-slate-700 rounded-full px-2">
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</nav>
</header>
