---

---

<nav
	class="fixed flex flex-col justify-evenly text-center w-16 h-screen bg-gray-950 text-red-400 text-xl font-light border-red-400 border-r-2"
>
	<a href="#about">🤓</a>
	<p class="-rotate-90">|</p>
	<a href="#projects" class="-rotate-90">Projects</a>
	<p class="-rotate-90">|</p>
	<a href="#stack" class="-rotate-90">Stack</a>
	<p class="-rotate-90">|</p>
	<a href="#contact" class="-rotate-90">Contact</a>
</nav>
