---

---

<div class="absolute right-0 top-0 h-52 w-52 overflow-hidden">
	<span class="absolute -right-20 top-5 rotate-45 bg-red-400 px-14 py-5 text-center text-white">
		Still in dev !
		<br />
		 No mobile support yet
	</span>
</div>
