---
interface Props {
	title: string;
	id: string;
}

const { title, id } = Astro.props;
---

<div id={id} class="flex min-h-screen flex-col justify-center">
	<h2 class="pb-8 text-center text-4xl font-bold">{title}</h2>
	<slot />
</div>
