---
interface Props {
	title: string;
	id: string;
}

const { title, id } = Astro.props;
---

<div id={id} class="min-h-screen flex flex-col justify-center">
	<h2 class="text-4xl font-bold text-center pb-8">{title}</h2>
	<slot />
</div>
